body{
    border: 5px solid black;
    width: 400px;
    margin: auto;
    margin-top: 15vh;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 10px gray;
    

}

input{
    width: 40px;
    height: 40px;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
}

.grid-container{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: right;

}
.grid-item{
    background-color: cadetblue;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;


}
.grid-item:hover{
    cursor: pointer;

}

   


